services:
  backend:
    build: ./backend
    container_name: mern-backend
    ports:
      - "9001:9000"   # changed host port to 9001
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: mern-frontend
    ports:
      - "3000:80"
    environment:
      - VITE_BACKEND_URL=http://localhost:9001   # updated to new backend port
    volumes:
      - ./frontend/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    restart: always
