apiVersion: apps/v1
kind: Deployment
metadata:
  name: ecommerce-deployment
  namespace: 2401077
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ecommerce
  template:
    metadata:
      labels:
        app: ecommerce
    spec:
      containers:
        - name: ecommerce
          image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/ecommerce-2401077:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: MONGO_URI
              value: "mongodb+srv://prajaktajoshi2003:JglbBmZqEmw5myKp@cluster0.on4cy.mongodb.net/suvarnarup?retryWrites=true&w=majority"
            - name: JWT_SECRET
              value: "0893d61211e0c9beed3d44697bc27342c7e1bef0a5fd6a94c357c5aa52a1f06d92b49a66ffc7f4469314928d2fca66552af"
            - name: NODE_ENV
              value: "production"
